keybindings
keybindingsd
libkeybindings.a
*.o
*~

config.log
config.status
autom4te.cache

configure
Makefile
Makefile.in

aclocal.m4
install-sh
compile
depcomp
missing
.deps
ar-lib
config.h
config.guess
config.sub
stamp-h1
